/*.outline {
	border: 0.60em blue;
	border-style: groove;
	border-left-style: solid;
	border-radius: 10px;
}*/

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #708090;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

.row {
	padding: 10px;
}

.table-input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #c0c0c0;
}

/*.input-no-border {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #000000;
}*/